article
  .container
    .row
      .col-xs-12.col-md-5
        section#instructors
          header
            h4 Cursuri
          ul.list-group
            a(href="#"
              class="list-group-item"
              ng-repeat='course in admin.sessions | orderBy: "date"'
              ng-class="{disabled: course.ended}")
              .row
                .course-data.col-xs-6.col-md-6
                  h5.list-group-item-heading
                    | {{course.name}}
                    br
                    span.label.label-default.text-uppercase(ng-show="course.ended") Terminat
                    span.label.label-success.text-uppercase(ng-show="admin.isToday(course.date) && !course.ended") Azi
                .today.col-xs-3.col-md-4
                  p.list-group-item-text {{course.date | date: 'dd/MM/yyyy'}}
                .actions.col-xs-3.col-md-2
                  button.btn.btn-success.btn-block(
                    type="button"
                    ng-show="admin.isToday(course.date) && !admin.hasStarted(course) && !course.ended"
                    ng-click="admin.startCourse(course)")
                    i.glyphicon.glyphicon-play
                  button.btn.btn-danger.btn-block(
                    type="button"
                    ng-show="admin.hasStarted(course)"
                    ng-click="admin.endCourse(course)")
                    i.glyphicon.glyphicon-stop
      .col-xs-12.col-md-7
        section#students
          header
            h4 Studenți
          ul.list-group
            a.list-group-item(href="#" ng-repeat='student in admin.students | orderBy: "name"')
              .row
                .student-image.col-xs-2.col-md-2
                  img.img-circle(ng-src="{{student.imageURL}}", alt="{{student.name}}")
                .student-data.col-xs-10.col-md-10
                  .row
                    .student-name.col-xs-5.col-md-5
                      h5
                        strong {{student.name}}
                        | &nbsp;
                        i.glyphicon.glyphicon-info-sign(
                          uib-popover="{{student._id}}",
                          popover-title="{{student.email}}"
                          popover-placement="right")
                    .today.col-xs-2.col-md-2
                      p.lead.text-center(ng-class="{'bg-success': student.inClass, 'bg-danger': !student.inClass}")
                        i.glyphicon(ng-class="{'glyphicon-phone': student.inClass, 'glyphicon-ban-circle': !student.inClass}")
                    .warnings.col-xs-3.col-md-3
                      button.btn.btn-sm.btn-block.btn-primary(
                        type="button",
                        ng-click="admin.sendWarning(student)")
                        i.glyphicon.glyphicon-bell
                        | &nbsp;
                        span.badge {{student.warnings}}
                    .drawer-menu.col-xs-2.col-md-2
                      button.btn.btn-sm.btn-block.btn-default(
                        type="button",
                        ng-click="drawerOpen = !drawerOpen")
                        i.glyphicon(ng-class="{'glyphicon-chevron-right': !drawerOpen, 'glyphicon-chevron-up': drawerOpen}")
                  .row(ng-show="drawerOpen")
                    .presence.col-xs-12.col-md-7
                      .row
                        .course.col-xs-2(ng-repeat="pres in student.presence", ng-class="{'bg-success': pres.present, 'bg-danger': !pres.present}")
                          p()
                            | {{pres.date | date : 'dd'}}
                            br
                            | {{pres.date | date : 'MM'}}
                    .actions.col-xs-12.col-md-5
                      button.btn.btn-danger.pull-right(type="button", ng-click="sureDelete = true", ng-show="!sureDelete")
                        i.glyphicon.glyphicon-trash
                      .btn-group.pull-right(ng-show="sureDelete")
                        button.btn.btn-danger(type="button", ng-click="admin.unEnroll(student)") SIGUR?
                        button.btn.btn-default(type="button", ng-click="sureDelete = false")
                          i.glyphicon.glyphicon-remove-circle
