.trash {
  color: rgb(209, 91, 71);
}

#students {
  .list-group-item {
    .student-image {
      img {
        max-width: 70px;
        max-height: 70px;
        width: 70px;
        height: 70px;
      }
    }
  }
}
