.container
  .row
    .col-sm-12
      h1 Login
      p
        | Accounts are reset on server restart from
        code server/config/seed.js

    .col-sm-12
      form.form(name='form', ng-submit='vm.login(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='email', name='email', ng-model='vm.user.email')
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model='vm.user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
            | Please enter your email and password.
          p.help-block {{ vm.errors.login }}

        .row
          .col-sm-3.col-md-2
            button.btn.btn-inverse.btn-login(type='submit') Login
          .col-sm-3.col-md-2
            a.btn.btn-default.btn-register(ui-sref='signup') Register
