.btn-group(role="group")
  a.btn.btn-facebook(ng-class='classes'
    ng-click='OauthButtons.loginOauth("facebook")')
    |  Connect with Facebook

  a.btn.btn-google(ng-class='classes'
    ng-click='OauthButtons.loginOauth("google")')
    |  Connect with Google+
