$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

main {
  overflow: auto;
}

main,
.navbar,
footer {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp

/* inject:scss */

@import 'admin/admin';

@import 'main/main';

@import '../components/footer/footer';

@import '../components/modal/modal';

@import '../components/oauth-buttons/oauth-buttons';

/* endinject */
