header
  h1.text-center Oracle Classroom Kit
  h3.text-center Internet of Things Workshop

#logos.container
  .row
    .col-sm-3.col-sm-offset-2
      img.img-responsive(src="assets/images/rau_logo.png")
    .col-sm-3.col-sm-offset-2
      img.img-responsive(src="assets/images/oracle_logo.png")

hr

#about.container
  .panel.panel-default.text-center
    .panel-heading: h3.panel-title Presenters
    .panel-body
      .row
        .col-sm-6
          p: strong Marius Stuparu
          p Senior Front-End Developer
        .col-sm-6
          p: strong Mihai Croitoru
          p Senior Mobile Devloper
